body {
  text-align: center;
  background-color: #222222;
}

#simon {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 3% 5%;
  color: #fef2bf;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  margin: 3% 5% 2%;
  color: #fef2bf;
}

.flex-container {
  display: flex;
}

.flex-item-left {
  flex: 68%;
  margin-left: 27%;
}

.flex-item-right {
  flex: 32%;
  margin-right: 5%;
}

#instructions {
  font-family: "Serif";
  font-size: 2rem;
  color: #fef2bf;
  text-align: left;
  text-decoration: underline;
}

li {
  text-align: left;
  font-family: "Comic Sans", cursive;
  font-size: 1.5rem;
  color: #fef2bf;
  line-height: 1.8rem;
  margin-bottom: 4%;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

footer {
  color: #dbedf3;
  text-align: center;
  font-family: "Comic Sans", cursive;
  font-size: 2rem;
  margin-top: 3%;
}

.icon {
  height: 50px;
  width: 50px;
}
